    <div class="navbar">
      <div class="container">
        <span class="navbar-brand"><img src="<%= baseUrl %>/static/img/robohydra.png" /><a href="<%= baseUrl %>">RoboHydra Admin</a></span>
        <span class="navbar-right">
          <span class="navbar-hydra">Hydra '<span class="navbar-hydra-name"><%= hydraName === undefined ? '<undefined>' : (hydraName === '' ? '<empty>' : hydraName) %></span>'</span>
        </span>
        <ul class="navbar-menu">
          <% [['/', 'Home'], ['/scenarios', 'Scenarios']].forEach(function(pathAndTitle) { %>
            <li<% if (pathAndTitle[0] === currentSection) {%> class="is-active"<% } %>><a href="<%= baseUrl %><%= pathAndTitle[0] %>"><%= pathAndTitle[1] %></a></span>
          <% }); %>
        </ul>
      </div>
    </div>
