    <tr>
      <td><%= plugin %></td>
      <td><%= scenario %></td>
      <% var r = testResults[plugin] &&
                     testResults[plugin][scenario] &&
                     testResults[plugin][scenario].result; %>
      <td>
        <span class="label <%= r ? (r === 'pass' ? 'success' : 'warning') : '' %>"><%= r || 'no assertions' %></span>
      </td>
      <td>
        <% if (r) { %>
          <% testResults[plugin][scenario].passes.forEach(function(a) { %>
            <div><%= a %></div>
          <% }); %>
          <% testResults[plugin][scenario].failures.forEach(function(a) { %>
            <div><span class="label warning"><%= a %></span></div>
          <% }); %>
        <% } %>
      </td>
    </tr>
