<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="<%= baseUrl %>/static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .hydra-head-attached-true {
        font-weight: bold;
      }
      .hydra-head-attached-false {
        color: #f00;
      }
      .hydra-head-highlighted td {
        background-color: #0aa !important;
      }
    </style>
    <link href="<%= baseUrl %>/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="<%= baseUrl %>/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= baseUrl %>/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= baseUrl %>/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="<%= baseUrl %>/static/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Hydra Admin UI</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <h2>Current heads</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Plugin</th>
      <th>Head</th>
      <th>Type</th>
      <th>Path</th>
      <th>Attached?</th>
    </tr>
  </thead>
  <tbody>
<%
   for (var i = 0, len = plugins.length; i < len; i++) {
      for (var j = 0, len2 = plugins[i].heads.length; j < len2; j++) {
         var currentHead = plugins[i].heads[j];
%>
    <tr <%-
           (plugins[i].name == matchingPluginName &&
            currentHead.name == matchingHeadName) ?
               'class="hydra-head-highlighted"' : ''
        %>
        onclick="location.href = 'head.html'" style="cursor: pointer">
      <td><%= plugins[i].name %></td>
      <td><a href="head.html"><%= currentHead.name %></a></td>
      <td><%= currentHead.type %></td>
      <td><%= currentHead.basePath || currentHead.path %></td>
      <td class="hydra-head-attached-<%= currentHead.attached() %>"><%= currentHead.attached() %></td>
    </tr>
<%
      }
   }
%>
  </tbody>
</table>
        </div><!--/span-->
      </div><!--/row-->

      <div class="row-fluid">
        <div class="span6">
      <form class="form-horizontal">
        <fieldset>
          <legend>Path debugger</legend>

          <div class="control-group">
            <label for="highlightPath" class="help-inline">Highlight head handling the following path:</label>
            <input id="highlightPath" name="highlightPath" type="text"
                   class="span3" placeholder="/some/path"
                   value="<%= highlightPath %>">
          </div>
          <button type="submit" class="btn btn-primary">Highlight</button>
        </fieldset>
      </form>
        </div><!--/span-->

        <div class="span6">
      <form class="form" method="post" action="<%= baseUrl %>/head/create">
        <fieldset>
          <legend>Create a new head</legend>

          <div class="control-group">
            <label for="newHeadPath">Create new head listening in
              paths matching this regular expression:</label>
            <textarea id="newHeadPath" name="newHeadPath"
                      placeholder="/foo/[0-9]*"></textarea>
          </div>

          <div class="control-group">
            <label for="newHeadContent">Returning the given
              content:</label>
            <textarea id="newHeadContent" name="newHeadContent"
                      placeholder="Content to be returned by the new head"></textarea>
          </div>

          <div class="control-group">
            <label for="newHeadContentType">Set explicit Content-Type:</label>
            <input type="text" id="newHeadContentType"
                   name="newHeadContentType"
                   placeholder="text/plain, application/json, …" />
            </textarea>
          </div>

          <button type="submit" class="btn btn-primary">Create</button>
        <fieldset>
      </form>
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- script src="<%= baseUrl %>/static/js/jquery.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-transition.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-alert.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-modal.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-dropdown.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-scrollspy.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-tab.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-tooltip.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-popover.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-button.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-collapse.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-carousel.js"></script>
    <script src="<%= baseUrl %>/static/js/bootstrap-typeahead.js"></script -->

  </body>
</html>
