<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hydra Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="<%= baseUrl %>/static/favicon.ico" />
    <link href="<%= baseUrl %>/static/css/lipstick.css" rel="stylesheet">
    <link href="<%= baseUrl %>/static/css/hydra.css" rel="stylesheet">

    <!-- HTML5 shiv -->
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar">
      <div class="container">
        <span class="navbar-brand"><img src="<%= baseUrl %>/static/img/hydra.png" /><a href="<%= baseUrl %>">Hydra Admin</a></span>
        <ul class="navbar-menu">
          <li class="is-active"><a href="<%= baseUrl %>">Home</a></span>
          <li><a href="<%= baseUrl %>/tests">Tests</a></span>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12 pod">
          <div class="pod-header">
            <h2>Current heads</h2>
          </div>

<table class="table striped">
  <thead>
    <tr>
      <th>Plugin</th>
      <th>Head</th>
      <th>Type</th>
      <th>Path</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<%
   for (var i = 0, len = plugins.length; i < len; i++) {
      for (var j = 0, len2 = plugins[i].heads.length; j < len2; j++) {
         var currentHead = plugins[i].heads[j];
%>
    <tr <%-
           (plugins[i].name == matchingPluginName &&
            currentHead.name == matchingHeadName) ?
               'class="is-highlighted"' : ''
        %>>
      <td><%= plugins[i].name %></td>
      <td><%= currentHead.name %></td>
      <td><%= currentHead.type %></td>
      <td><%= currentHead.mountPath || currentHead.path %></td>
      <td>
          <% if (currentHead.attached()) { %>
            <span class="label success">attached</span>
          <% } else { %>
            <span class="label warning">detached</span>
            <% } %>
      </td>
      <td>
        <form method="post"
              action="<%= baseUrl %>/head/toggle-attachment">
          <input type="hidden" name="pluginName" value="<%= plugins[i].name %>">
          <input type="hidden" name="headName" value="<%= currentHead.name %>">
          <% if (currentHead.attached()) { %>
            <button type="submit" class="btn small warning">Detach</button>
          <% } else { %>
            <button type="submit" class="btn small success">Re-attach</button>
          <% } %>
        </form>
      </td>
    </tr>
<%
      }
   }
%>
  </tbody>
</table>
          <form class="form pod-footer">
            <fieldset>
              <legend class="h4">Path debugger</legend>
              <div class="form-group single">
                <label for="highlightPath" class="muted">Highlight head handling the
                  following path</label>
                <input id="highlightPath" name="highlightPath" type="text"
                       placeholder="/some/path" value="<%= highlightPath %>" size="30">
                <button type="submit" class="btn primary">Highlight</button>
              </div>
            </fieldset>
          </form>
        </div><!--/span-->
      </div><!--/row-->

      <div class="row">
        <div class="span8 pod">
          <form class="form pod-body" method="post" action="<%= baseUrl %>/head/create">
            <fieldset>
              <legend class="h3">Create a new head</legend>

               <label for="newHeadPath">Create new head listening in
                 paths matching this regular expression</label>
               <input type="text" id="newHeadPath" name="newHeadPath"
                         placeholder="/foo/[0-9]*">

               <label for="newHeadContent">Returning the given
                 content</label>
               <textarea id="newHeadContent" name="newHeadContent"
                         placeholder="Content to be returned by the new head"></textarea>

               <label for="newHeadContentType">Set explicit Content-Type</label>
               <input type="text" id="newHeadContentType"
                      name="newHeadContentType"
                      placeholder="text/plain, application/json, …">

              <div class="form-actions">
                <button type="submit" class="btn primary">Create</button>
              </div>
            <fieldset>
          </form>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/container-->
  </body>
</html>
