    <div class="container">
      <div class="row">
        <div class="span12 pod">
          <div class="pod-header">
            <h2>Available scenarios</h2>
          </div>

<table class="table striped">
  <thead>
    <tr>
      <th>Plugin</th>
      <th>Scenario</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
<%
   for (var i = 0, len = plugins.length; i < len; i++) {
      for (var scenarioName in plugins[i].scenarios) {
%>
    <tr>
      <td><%= plugins[i].name %></td>
      <td><%= scenarioName %></td>
      <td>
        <form method="post"
              action="<%= baseUrl %>/scenarios/<%= encodeURIComponent(plugins[i].name) %>/<%= encodeURIComponent(scenarioName) %>">
            <% if (currentTest.plugin === plugins[i].name &&
                       currentTest.test === scenarioName) { %>
              <input type="hidden" name="action" value="stop" />
              <button type="submit" class="btn small success">Active</button>
            <% } else { %>
              <input type="hidden" name="action" value="start" />
              <button type="submit" class="btn small warning">Inactive</button>
            <% } %>
        </form>
      </td>
    </tr>
<%
      }
   }

   if (plugins.reduce(function(acc, plugin) {
                          return acc + Object.keys(plugin.scenarios).length;
                      }, 0) === 0) {
%>
       <tr>
         <td colspan="3">
           There are no scenarios defined.
         </td>
       </tr>
<%
   }
%>
  </tbody>
</table>


          <div class="pod-header">
            <h2>Test results</h2>

            See the <a href="<%= baseUrl %>/rest/test-results">results in
            JSON</a> format.
          </div>


<table class="table striped">
  <thead>
    <tr>
      <th>Plugin</th>
      <th>Scenario</th>
      <th>Result</th>
      <th>Assertions</th>
    </tr>
  </thead>
  <tbody>
<%- renderPartial('scenario-result', {plugin: '*default*',
                                      scenario: '*default*',
                                      testResults: testResults}) %>
<%
   for (var i = 0, len = plugins.length; i < len; i++) {
      for (var scenario in plugins[i].scenarios) {
%>
         <%- renderPartial('scenario-result', {plugin: plugins[i].name,
                                               scenario: scenario,
                                               testResults: testResults}) %>
<%
      }
   }
%>
</table>
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/container-->
