<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RoboHydra Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="<%= baseUrl %>/static/favicon.ico" />
    <link href="<%= baseUrl %>/static/css/lipstick.css" rel="stylesheet">
    <link href="<%= baseUrl %>/static/css/robohydra.css" rel="stylesheet">

    <!-- HTML5 shiv -->
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <%- renderHeader() %>

    <div class="container">
      <div class="row">
        <div class="span12 pod">
          <div class="pod-header">
            <h2>Instructions for "<%= currentScenario.scenario %>"
              (in <%= currentScenario.plugin %>)</h2>
          </div>

          <div class="pod-body">
            <%- markdown(instructions) %>
          </div>

          <div class="pod-footer">
            When you are done, check the <a href="<%= baseUrl %>/scenarios">tests results</a>.
          </div>
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/container-->
  </body>
</html>
