<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hydra Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="<%= baseUrl %>/static/css/lipstick.min.css" rel="stylesheet">
    <style>
      .table td {
        vertical-align: middle;
      }
    </style>

    <!-- HTML5 shiv -->
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar">
      <div class="container">
        <span class="navbar-brand"><a href="<%= baseUrl %>">Hydra Admin</a></span>
        <ul class="navbar-menu">
          <li><a href="<%= baseUrl %>">Home</a></span>
          <li class="is-active"><a href="<%= baseUrl %>/tests">Tests</a></span>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12 pod">
          <div class="pod-header">
            <h2>Instructions for <%= currentTest.plugin %> /
                                     <%= currentTest.test %></h2>
          </div>

          <%= instructions %>
        </div><!--/span-->
      </div><!--/row-->

    </div><!--/container-->
  </body>
</html>
